/* use of margin and border 
* {
  margin: 0;
}*/
h1 {
  background: red;
  padding: 50px;
  margin-bottom: 0;
  /* border-style: solid;
  border-width: 10px;
  border-color: green; */
  border-bottom-width: 13px;
  border-bottom-style: solid;
  border-bottom-color: royalblue;
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: royalblue;
}
p {
  background: blue;
  padding: 20px;
  margin: 100px 20px 20px 50px;
  border: 13px solid yellow;
}
