body {
  color: red;
}
/* div is used specifically where something in bunch have to be affected*/
div {
  color: blue;
}
/* span is used mainly in case of inline transformations*/
span {
  text-transform: uppercase;
  color: black;
  background-color: burlywood;
  font-size: 2rem;
}
