* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, 
body { 
  min-height: 100%;
  background: #2d2d2f;
}
.clock {
  position: relative;
  height: 200px;
  width: 200px;
  background: #fff;
  box-sizing: border-box;
  border: 10px solid cadetblue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto 0;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto 0;
}
.clock .center {
  height: 6px;
  width: 6px;
  background: #262626;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 100%;
}
.clock .shadow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 60px;
  top: 60px;
  transform: rotate(135deg);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
.clock .hour::before {
  position: absolute;
  content: "";
  background: #262626;
  height: 60px;
  width: 3px;
  top: 30px;
}
.clock .minute {
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}
.clock .minute::before {
  position: absolute;
  content: "";
  background: #000;
  height: 40px;
  width: 1px;
  top: 50px;
}
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second::before {
  position: absolute;
  content: "";
  background: red;
  height: 45px;
  width: 2px;
  top: 45px;
}
