/* basic selectors*/
* {
  color: red;
}
/* we use #tag with headings and .dot with id */ 
#heading {
  font-size: 40px;
  text-transform: uppercase;
  color: green;
}
.heading { 
  font-size: 20px;
  text-transform: capitalize; 
  color: blue;
}
p {
  letter-spacing: 20px;
}
