/* Transition change over time
transition delay
shorthand
*/
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: blue;
}
.one:hover {
  background: red;
}
.two {
  background: green;
}
.three {
  background: black;
  transition-property: backgroud;
  transition-duration: 4s;
}
.three:hover {
  border-radius: 50%;
}
