/* border radius and negative margin*/
h1 {
  background: red;
  padding: 20px;
  border: 5px solid black;
  border-radius: 40px;
}
p {
  background: blue;
  padding: 20px;
  border: 13px solid green;
  border-radius: 30%; 
  /* negative margin get into use when to overbed something i.e half of the other thing on other*/
  margin-top: -50px;
}
