/* mobile navbar */
/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  background: blue;
  color: white;
  padding: 20px;
  margin: 20px;
}
ul li {
  list-style-type: decimal-leading-zero;
}
ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: red;
  color: black;
  padding: 2px;
}
