/* Transform: translate,Scale */
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
  transform: scaleX(0.5);
}
.two {
  background: green;
  transform: scaleY(2);
}
.three {
  background: black;
  transform: scale(1.5, 1.5);
}
