/* Transition property*/
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
}
.one:hover {
  background: blue;
}
.two {
  background: green;
}
.three {
  background: black;
}
